<div class="container">
  <div class="item">
    <app-card>

      <div class="card__header" card-header>
        <img src="../assets/icons/icon-client.png" class="card__icon" alt="card-icon">
      </div>

      <div class="card__content" card-content>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim, porro, aspernatur quis voluptates nemo in corrupti quos eius doloribus nulla quaerat sequi? Qui natus sapiente sequi, nesciunt repudiandae laboriosam quaerat.
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Accusantium, cum omnis! Ipsa dolores facere corporis itaque culpa numquam eaque assumenda, eveniet rerum, distinctio ad. Error quidem ex molestiae consequuntur facere.
        </p>
      </div>

    </app-card>
  </div>

  <div class="item">
    <app-card>


      <div class="card__header card__header--direction-column" card-header>
        <h1>Fulano da Silva</h1>
        <img src="../assets/icons/icon-client.png" class="card__icon" alt="card-icon">
        <h3>Desenvolvedor Front-end</h3>
      </div>

      <div class="card__content" card-content>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim, porro, aspernatur quis voluptates nemo in corrupti quos eius doloribus nulla quaerat sequi? Qui natus sapiente sequi, nesciunt repudiandae laboriosam quaerat.
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Accusantium, cum omnis! Ipsa dolores facere corporis itaque culpa numquam eaque assumenda, eveniet rerum, distinctio ad. Error quidem ex molestiae consequuntur facere.
        </p>
      </div>

    </app-card>

  </div>
</div>

<br>
<br>

<h1>Conceito de Diretivas</h1>

<br>
<br>

<img src="../assets/images/lhaminha1.JPG" alt="lhaminha" appCardAvatarSmall>

<app-card-avatar-small>
  <img src="../assets/images/lhaminha1.JPG" alt="lhaminha">
</app-card-avatar-small>

<img src="../assets/images/lhaminha1.JPG" alt="lhaminha" appCardAvatarLarge>

<app-card-avatar-large>
  <img src="../assets/images/lhaminha1.JPG" alt="lhaminha">
</app-card-avatar-large>

<br>
<br>

<h1>Exemplo dos cards, utilizando Diretivas</h1>

<br>
<br>

<div class="container">
  <div class="item">
    <app-card-directive>

      <app-card-directive-header>
        <div class="card__header">
          <img src="../assets/icons/icon-client.png" appCardLargeImage alt="card-icon">
        </div>
      </app-card-directive-header>

      <app-card-directive-content>
        <div class="card__content">
          <app-card-description-text>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim, porro, aspernatur quis voluptates nemo in corrupti quos eius doloribus nulla quaerat sequi? Qui natus sapiente sequi, nesciunt repudiandae laboriosam quaerat.
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Accusantium, cum omnis! Ipsa dolores facere corporis itaque culpa numquam eaque assumenda, eveniet rerum, distinctio ad. Error quidem ex molestiae consequuntur facere.
          </app-card-description-text>
        </div>
      </app-card-directive-content>


    </app-card-directive>
  </div>

  <div class="item">
    <app-card-directive>

      <app-card-directive-header>
        <div class="card__header card__header--direction-column">

          <app-card-main-text>Fulano da Silva</app-card-main-text>

          <img src="../assets/icons/icon-client.png" appCardSmallImage alt="card-icon">

          <app-card-sub-text>Desenvolvedor Front-end</app-card-sub-text>
        </div>
      </app-card-directive-header>

      <app-card-directive-content>
        <div class="card__content">
          <app-card-description-text>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim, porro, aspernatur quis voluptates nemo in corrupti quos eius doloribus nulla quaerat sequi? Qui natus sapiente sequi, nesciunt repudiandae laboriosam quaerat.
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Accusantium, cum omnis! Ipsa dolores facere corporis itaque culpa numquam eaque assumenda, eveniet rerum, distinctio ad. Error quidem ex molestiae consequuntur facere.
          </app-card-description-text>
        </div>
      </app-card-directive-content>

