/* You can add global styles to this file, and also import other style files */
@import "./styles/components/cards";

body {
  background-color: #9e9e9e;
}

.g-card-avatar-small, // ou optar para desenvolver apenas utilizando o método de selector por atributo. Com isso, removeria o tag img na classe.
.g-card-avatar-small img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

.g-card-avatar-large,
.g-card-avatar-large img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
}
